



h1 {
  color: white;
  text-align: center;
  	
}	


body {
	
	display:flex;
	justify-content: center  ;
	min-height: 100vh;
	background-image: url("wallpaper-aesthetic.gif");
  	background-repeat: no-repeat;
 	background-size: cover;
}


p {
  color: white;
  
  font-weight: bold;

}

.music .box{
	
	
	width: 100%;
	height: 250px;
	
}

.music .box img {

	width: 100%;
	height: 100%;
	object-fit: cover;
}

.music audio {

	width: 100%;
	
	
}



